*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    color: rgb(87, 80, 80);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

#songs-repertoire {
    width: calc(100% - 5rem);
    background-color: rgb(12, 12, 87);
}

/* UTILITY CLASSES */
.white{
    color: #ffff;
}

ul {
    list-style-type: none;
}

.hide-show{
    display: none;
}

.display-flex{
    display: flex;
}

.flex-direction{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.flex-end{
    justify-content: flex-end;
}

.width-100{
    width: 100%;
}

/* HEADER CLASSES */
header {
    height: 7.5rem;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1;
}

#upgrade-button{
    padding: 1rem;
    margin-right: 3rem;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
}

/* SIDEBAR CLASSES */

#sidebar {
    width: 5rem;
    background-color: black;
    z-index: 2;
    overflow-y: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container > img{
    width: 3rem;
    padding-top: 1rem;
}

#logo-collapsed > img{
    display: inline;
}

#logo-extended > img{
    display: none;
}

#sidebar-menu-one > li {
    text-align: center;
    margin: 1rem 0;
    margin-top: 0;
}

#sidebar-menu-one{
    margin-top: 1rem;
}

#sidebar-menu-two{
    overflow-y: auto;
    max-height: 10rem;
}

#profile-image{
    max-height: 2rem;
}

/* FOOTER CLASSES */

footer {
    height: 10rem;
    width: 100%;
    position: fixed;
    background-color: rgb(78, 78, 78);
    bottom: 0;
    z-index: 3;
}

footer img{
    max-height: 30%;
}

footer span {
    color: darkgray;
    font-size: small;
}

footer i{
    color: rgb(151, 144, 144);
}

.footer-col{
    width: (100% / 3 - 1rem);
    padding: 1rem;
}

/* SIDEBAR RESPONSIVENESS */

@media screen and (min-width: 769px){
    #sidebar{
        width: 15rem;
    }

    .logo-container > img{
        width: 10rem;
    }

    #logo-collapsed > img{
        display: none;
    }
    
    #logo-extended > img{
        display: inline;
    }

    #sidebar-menu-one > li{
        text-align: left;
        margin: 1rem 0;
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    #sidebar-menu-two > li{
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .hide-show{
        display: block;
        margin-left: 0.5rem;
    }

    #add-playlist{
        background-color: gray;
        padding: 0.5rem;
    }
}